
<!-- extend base layout -->
{% extends 'base.html' %}

{% block content %}


<div>
    <p>You can type some letters below and I'll tell you what you typed</p>
    <hr>
    <form method = "post" name="answer_form">
        {{ form.hidden_tag() }}
        <div class = "form-group{% if form.answer.errors %} error{% endif %}">
            <label for="answer"></label>
                <div class="controls">
                    {{ form.answer(maxlength=26, class="span4") }}
                    {% for error in form.answer.errors %}
                        <span class="w3-text-deep-orange">{{ error }}</span><br>
                    {% endfor %}
                </div>
        </div>
        <button type="submit" class="w3-button w3-black">Submit</button>
    </form>
</div>

{% endblock %}
