
<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class = "jumbotron">
    <h1 class = "display-3">Hi!</h1>
    <p class ="lead">Welcome to HIPE</p>
    <p> the game of HIPE was described by Peter Winkler in his excellent <a href = "https://www.amazon.co.uk/Mathematical-Puzzles-Connoisseurs-Peter-Winkler/dp/1568812019/"> collection of mathematical puzzles</a></p>

    <p>the rules are very straightforward, you are given a string of letters, and your goal is to find an English word that contains those letters as a substring. So, for example, if the string were 'HIPE', the answer might be 'arcHIPElago'.</p>

    <a class = "w3-btn w3-black" href="{{ url_for('random') }}">Play Hipe</a>
</div>
{% endblock %}
